.btn-style {
    background-color: #0f93c4; 
    color: white;              
    border-radius: 5px;        
    border: none;
    text-align: center;          
}
.supercool_style{background-color:aquamarine;
color:blue;border-radius:20px;border:none}